@media (max-width: 768px) {
    .product-grid {
        grid-template-columns: 1fr;
    }
}


.product-section {
    padding: 50px;
    text-align: center;
    background-color: #f9f9f9;
    /*changes*/
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ajuste conforme necessário para o tamanho do fundo */
    gap: 40px; /* Espaçamento entre a imagem e os produtos */

}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); /* Define um mínimo de 250px e ajusta automaticamente */
    gap: 10px;
    margin-left: 50px;
}

.product-card {
    width: 100%; /* Mantém o tamanho dos cartões flexível dentro da coluna */
    max-width: 400px; /* Limita o tamanho máximo do cartão */
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25); /* Sombra mais intensa no hover */
}

.product-card img {
    max-width: 90%;
    border-radius: 8px;
}

.product-card:hover img {
    transform: scale(1.03); /* Efeito de zoom na imagem ao passar o mouse */
}

.product-card h2, .product-card h3, .product-card p {
    text-align: center; /* Centralizando o texto para manter a harmonia no layout menor */
}

.product-card h2{
    color: #444;
}

.product-card h3 {
    font-size: 1.8em; /* Aumenta o tamanho da fonte */
    margin: 15px 0 10px 0;
    color: darkblue; /* Cor do texto mais suave */
}

.product-card p {
    font-size: 1.2em;
    color: #555;
    flex-grow: 1; /* Faz o parágrafo ocupar o espaço disponível */

}

.product-actions {
    margin-top: 15px;
}

/* Botões das ações do produto */
.product-actions button {
    padding: 10px 20px; /* Aumenta o padding para um botão mais confortável */
    margin: 5px;
    border: none;
    border-radius: 20px; /* Botões arredondados */
    cursor: pointer;
    font-size: 0.9em;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-actions button:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* Sombra maior ao passar o mouse */
}

.buy-now {
    background-color: green;
    color: white;
}

.buy-now:hover {
    background-color: lightgreen;
    transform: translateY(-3px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.add-to-cart {
    background-color: darkblue;
    color: white;
}

.add-to-cart:hover {
    background-color: #0056b3;
    transform: translateY(-3px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

/* Efeito de clique */
.product-actions button:active {
    transform: translateY(-1px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Testando o título diferente para bike */
.product-selection h1{
    position: relative;
    width: 100%;
    text-align: left; 
    margin-left: 40px;
    font-size: 4em;
}

.linha-horizontal{
    width: 10%;
    align-self: center;
    margin-left: 40px;
    margin-top: -30px;
    color: red;
}

.cupom h3{
    position: relative;
    width: 100%;
    height: 2em; /* Ajuste conforme a altura do texto */
    background-image: linear-gradient(to right, rgba(76,13,0,1), rgba(121,9,41,1), rgba(255,0,0,1));
     z-index: -1; /* Posiciona o fundo atrás do texto */
    text-align: center; /* Centraliza o texto horizontalmente */
    line-height: 2em; /* Ajuste conforme necessário */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    size: 5;
}

/* BOTAO VER TODOS OS PRODUTOS*/
.fancy {
width: auto;
min-width: 120px; /* Define um limite mínimo de largura */
padding: 8px 16px; /* Reduz o espaçamento interno */

 background-color: transparent;
 border: 2px solid #000;
 border-radius: 0;
 box-sizing: border-box;
 color: #fff;
 cursor: pointer;
 display: inline-block;
 float: right;
 font-weight: 700;
 letter-spacing: 0.05em;
 margin: 0;
 outline: none;
 overflow: visible;
 padding: 1.25em 2em;
 position: relative;
 text-align: center;
 text-decoration: none;
 text-transform: none;
 transition: all 0.3s ease-in-out;
 user-select: none;
 font-size: 13px;
}

.fancy::before {
 content: " ";
 width: 1.5625rem;
 height: 2px;
 background: black;
 top: 50%;
 left: 1.5em;
 position: absolute;
 transform: translateY(-50%);
 transform-origin: center;
 transition: background 0.3s linear, width 0.3s linear;
}

.fancy .text {
 font-size: 1.125em;
 line-height: 1.33333em;
 padding-left: 2em;
 display: block;
 text-align: left;
 transition: all 0.3s ease-in-out;
 text-transform: uppercase;
 text-decoration: none;
 color: black;
}

.fancy .top-key {
 height: 2px;
 width: 1.5625rem;
 top: -2px;
 left: 0.625rem;
 position: absolute;
 background: #e8e8e8;
 transition: width 0.5s ease-out, left 0.3s ease-out;
}

.fancy .bottom-key-1 {
 height: 2px;
 width: 1.5625rem;
 right: 1.875rem;
 bottom: -2px;
 position: absolute;
 background: #e8e8e8;
 transition: width 0.5s ease-out, right 0.3s ease-out;
}

.fancy .bottom-key-2 {
 height: 2px;
 width: 0.625rem;
 right: 0.625rem;
 bottom: -2px;
 position: absolute;
 background: #e8e8e8;
 transition: width 0.5s ease-out, right 0.3s ease-out;
}

.fancy:hover {
 color: white;
 background: black;
}

.fancy:hover::before {
 width: 0.9375rem;
 background: white;
}

.fancy:hover .text {
 color: white;
 padding-left: 1.5em;
}

.fancy:hover .top-key {
 left: -2px;
 width: 0px;
}

.fancy:hover .bottom-key-1,
 .fancy:hover .bottom-key-2 {
 right: 0;
 width: 0;
}